data/
paper/
output/
scripts/config_files*
scripts/config_files/
scripts/1_bash_scripts/
scripts/2_R_scripts/
phyparts/
Astral/
*.pdf
*.docx
*.xlsx
*.csv
*.tab
analysis.Rproj
.Rproj.user/
*.Rhistory
*.png
*.jpeg
*.pptx
*.log
*.py
*.logfile
*.md
*.DS_Store
