paper/
output/
scripts/config_files*
scripts/config_files/
scripts/1_bash_scripts/
scripts/2_R_scripts/
phyparts/
Astral/
QuIBL/
**/*old*
**/*unused*
**/*NewTargets*
*.pdf
*.docx
*.xlsx
!scripts/final_scripts/01_angiosperm353_pipeline/SraRunTable.xlsx
*.csv
*.tab
analysis.Rproj
.Rproj.user/
*.Rhistory
*.png
*.jpeg
*.pptx
*.log
*.py
*.jar
*.logfile
*.DS_Store

# Ignore everything inside data/ ...
data/*
# ... but re-allow the subdirectory tree we need
!data/Angiosperm353/
data/Angiosperm353/*
!data/Angiosperm353/hybpiper/
data/Angiosperm353/hybpiper/*
!data/Angiosperm353/hybpiper/genes2remove_nuclear.txt
!data/Angiosperm353/hybpiper/genes2remove_plastid.txt
!data/Angiosperm353/hybpiper/hybpiper_stats_genes2remove_nuclear.xlsx
!data/Angiosperm353/hybpiper/hybpiper_stats_genes2remove_plastid.xlsx
!data/Angiosperm353/iqtrees/
data/Angiosperm353/iqtrees/*
!data/Angiosperm353/iqtrees/nuclear_gtr_g/
data/Angiosperm353/iqtrees/nuclear_gtr_g/*
!data/Angiosperm353/iqtrees/nuclear_gtr_g/Astral/
data/Angiosperm353/iqtrees/nuclear_gtr_g/Astral/*
!data/Angiosperm353/iqtrees/nuclear_gtr_g/Astral/config_astral_s0_linumCN.txt
!data/Angiosperm353/iqtrees/nuclear_gtr_g/Astral/config_astral_s100_linumCN.txt
!data/Angiosperm353/iqtrees/nuclear_gtr_g/Astral/config_astral_s0_linumCN_primed.txt
!data/Angiosperm353/iqtrees/nuclear_gtr_g/Astral/config_astral_s100_linumCN_primed.txt
!data/Angiosperm353/iqtrees/nuclear_gtr_g/Astral/nodeLB/
data/Angiosperm353/iqtrees/nuclear_gtr_g/Astral/nodeLB/*
!data/Angiosperm353/iqtrees/nuclear_gtr_g/Astral/nodeLB/phylonet_input_noPer_noHol_ML_wSppTree.txt
!data/Angiosperm353/iqtrees/nuclear_gtr_g/Astral/nodeLB/phylonet_output_noPer_noHol_ML_wSppTree_*.txt
!data/Angiosperm353/iqtrees/nuclear_gtr_g/supermx/
data/Angiosperm353/iqtrees/nuclear_gtr_g/supermx/*
!data/Angiosperm353/iqtrees/nuclear_gtr_g/supermx/config_supermx_s0_linumCN.txt
!data/Angiosperm353/iqtrees/nuclear_gtr_g/supermx/config_supermx_s100_linumCN.txt
!data/Angiosperm353/iqtrees/nuclear_gtr_g/supermx/config_supermx_s0_linumCN_primed.txt
!data/Angiosperm353/iqtrees/nuclear_gtr_g/supermx/config_supermx_s100_linumCN_primed.txt
!data/Angiosperm353/iqtrees/plastid/
data/Angiosperm353/iqtrees/plastid/*
!data/Angiosperm353/iqtrees/plastid/config_supermx_s0_linumCN.txt
!data/Angiosperm353/iqtrees/plastid/config_supermx_s100_linumCN.txt
!data/Angiosperm353/iqtrees/plastid/config_supermx_s0_linumCN_primed.txt
!data/Angiosperm353/iqtrees/plastid/config_supermx_s100_linumCN_primed.txt
!data/Angiosperm353/iqtrees/plastid/partitions2test.txt
!data/Angiosperm353/iqtrees/plastid/topologies2test_lb.nwk
!data/Lb_genomes/
data/Lb_genomes/*
!data/Lb_genomes/yann_diversity_analysis/
!data/populations_locations_1*.xlsx